<nav aria-label="Page navigation" style="text-align: center">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="{% url 'news_more' type 1 %}">首页</a></li>
        {% if article_list.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="{% url 'news_more' type article_list.previous_page_number %}">上一页</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   href="{% url 'news_more' type 1 %}">上一页</a>
            </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link"
               href="{% url 'news_more' type article_list.number %}">{{ article_list.number }}</a>
        </li>
        {% if article_list.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="{% url 'news_more' type article_list.next_page_number %}">下一页</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   href="{% url 'news_more' type article_list.number %}">下一页</a>
            </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{% url 'news_more' type article_list.paginator.num_pages %}">尾页</a>
        </li>
    </ul>
</nav>