{% extends 'layout.html' %}
{% load static %}
{% block title %}
首页
{% endblock %}
{% block main %}
        <blockquote id="index-title" class="blockquote text-center" >
            <img src="{% static 'img/logo/icpc-lg.png' %}" alt="" style="width: 25%">
            <img src="{% static 'img/logo/sdu-logo.png' %}" alt="" style="width: 25%">
            <h1 class="display-4">Welcome to our homepage</h1>
            <div style="margin-top: 5%">
                <a href="{% url 'news' %}" class="btn btn-outline-secondary  btn-lg" role="button" aria-pressed="true">近期动态</a>
                <span style="margin-right: 2%"></span>
                <a href="{% url 'join_us' %}" class="btn btn-outline-secondary  btn-lg" role="button" aria-pressed="true">联系我们</a>
            </div>
        </blockquote>
{% endblock %}